.containerListContact{
    width: 50%;
    margin: auto;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
}

.containerListContact .contactInfo {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    row-gap: 30px;
}

.containerListContact .contactInfo .containerBtn{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 20px;
}